@viewport {
    width:480px;
    zoom:1;
}

* { margin:0; padding:0;}

header, nav, main, section, article ,footer {display:block;}

.wrapper {
    max-width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

footer {
    width: 1000px;
    background-color: #d6d6d6;
}

ul {
    list-style: none;
}

ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Arial";
}

.clear {
    clear: both;
}

/**** LAYOUT 1 ****/
#layout1 header {
    width: 1000px;
    height: 183px;
}

#layout1 .logo {
    width: 78px;
    height: 79px;
    display: block;
    background-image: url(../images/logo.jpg);
    margin-left: 104px;
}

#layout1 nav {
    width: 727px;
    height: 57px;
    background-color: #b94a48;
    float: right;
    margin-top:47px;

}

#layout1 li {
    float: left;
    line-height: 57px;
    text-align: center;
    width: 242px;
    height: 57px;
}

#layout1 .selected {
    background-color: #333333;
}

#layout1 aside {
    float:left;
    width: 121px;
    height: 696px;
    background-color: #f2dede;
}

#layout1 section {
    width: 849px;
    height: 268px;
    margin-left: 30px;
    background-color: #ee5f5b;
    float: left;
    position: relative;
}

#layout1 article {
    opacity: 0.6;
    background-color: black;
}

#layout1 main {
    width: 879px;
    height: 428px;
    position: relative;
    float: right;
}

#layout1 > section > article {
    width: 128px;
    height: 96px;
    left: 342px;
    top: 89px;
    position: absolute;
}

#layout1 > main > article {
    width: 693px;
    height: 176px;
    left: 97px;
    top: 224px;
    position: absolute;
}

#layout1 footer {
    height: 121px;
}


/**** LAYOUT 2 ****/

#layout2 header {
    width: 100%;
    height: 193px;
}

#layout2 .logo {
    width: 78px;
    height: 79px;
    display: block;
    background: url(../images/logo.jpg) no-repeat bottom;
    margin: auto;
    padding-top: 30px;
}

#layout2 nav {
    width: 243px;
    height: 886px;
    float: left;
    background-color: #333333;
}

#layout2 li {
    line-height: 57px;
    text-align: center;
    height: 57px;
    width: 243px;
}

#layout2 .selected {
    background-color: #b94a48;
}

#layout2 main {
    width: 757px;
    height: 886px;
    background-color: #ee5f5b;
    position: relative;
    float: left;
}

#layout2 article {
    width: 212px;
    margin-left: 30px;
    float: left;
    opacity: 0.6;
    background-color: black;
}

#layout2 main article:first-child {
    height: 366px;
}

#layout2 main article:nth-child(2) {
    height: 560px;
}

#layout2 main article:nth-child(3) {
    height: 223px;
}

#layout2 main article:nth-child(4) {
    height: 500px;
    top: 386px;
    position: absolute;
}

#layout2 main article:nth-child(5) {
    height: 306px;
    top: 580px;
    left: 242px;
    position: absolute;
}

#layout2 footer {
    height: 50px;
    position: fixed;
    bottom: 0px;
}


/**** LAYOUT 3 ****/
#layout3 header {
    width: 500px;
    height: 500px;
    float: left;
}

#layout3 .logo {
    width: 78px;
    height: 79px;
    display: block;
    background: url(../images/logo.jpg) no-repeat right bottom;
    padding-top: 15px;
    padding-left: 15px;
}

#layout3 nav {
    width: 500px;
    height: 62px;
    float: left;
    background-color: #b94a48;
}

#layout3 .selected {
    width: 168px;
    background-color: #333333;
}

#layout3 li {
    float: left;
    line-height: 62px;
    text-align: center;
    width: 166px;
    height: 62px;
}

#layout3 #plus {
    width: 88px;
    height: 88px;
    display: block;
    margin: 128px auto;
    background: url(../images/plus.jpg);
}
#layout3 section {
    width: 500px;
    background-color: #9d261d;
    float: left;
}

#layout3 .box {
    width: 250px;
    height: 250px;
    background-color: black;
    float: left;
}

#layout3 .box:hover {
    background-color: white;
    opacity: 1;

}
#layout3 section article:first-child {
    opacity: 0.4;
}

#layout3 section article:nth-child(2) {
    opacity: 0.8;
}

#layout3 section article:nth-child(3) {
    opacity: 0.6;
}

#layout3 section article:nth-child(4) {
    opacity: 0.2;
}

#layout3 main {
    width: 1000px;
    min-height: 500px;
    float: left;
    background-color: #9d261d;
}
/*
/*for desktop
@media screen and (min-width: 851px) {

}

/*for tablet
@media screen and (max-width: 850px) and (min-width: 591px){

}

/*for mobile*
@media screen and (max-width: 590px) {

}
*/