* {margin:0; padding:0;}

header, nav, main, section, footer {display:block;}

#wrapper {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    width: 1000px;
    height: 183px;
}

#logo {
    width: 78px;
    height: 79px;
    display: block;
    background-image: url(../images/logo.jpg);
    margin-left: 104px;
}

nav {
    width: 727px;
    height: 57px;
    background-color: #b94a48;
    float: right;
    margin-top:47px;

}

ul {
    list-style: none;
}

li {
    float: left;
    line-height: 57px;
    text-align: center;
    width: 242px;
    height: 57px;
}

ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Arial";
}

.selected {
    background-color: #333333;
}

aside {
    float:left;
    width: 121px;
    height: 696px;
    background-color: #f2dede;
}

section {
    width: 849px;
    height: 268px;
    margin-left: 30px;
    background-color: #ee5f5b;
    float: left;
    position: relative;
}

article {
    position: absolute;
    opacity: 0.6;
    background-color: black;
}

main {
    width: 879px;
    height: 428px;
    position: relative;
    float: right;
}

#box1 {
    width: 128px;
    height: 96px;
    left: 342px;
    top: 89px;
}

#box2 {
    width: 693px;
    height: 176px;
    left: 97px;
    top: 224px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 1000px;
    height: 121px;
    background-color: #d6d6d6;
}